<app-header></app-header>
<div class="container-fluid page-title-area title-img">
  <div class="row justify-content-center">
    <div class="col-12 align-self-center">
      <div class="page-title-text">
        <h2>اخبار</h2>
        <ul>
          <li>اخبار</li>
          <li>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </li>
          <li>
            <a routerLink="/" class="">صفحه اصلی</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<section class="blog-area pt-100">
  <div class="container rtl">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div data-wow-delay=".3s" class="blog-item wow fadeInUp">
          <a routerlink="/blog-details" href="/blog-details" class="">
            <img src="assets/images/home/1.jpg" alt="Blog">
          </a>
          <div class="blog-inner">
            <span>مورد حقوقی</span>
            <h3>
              <a routerlink="/blog-details" href="/blog-details" class="">
                اگر بی گناه باشید عدالت برای شما ممکن است
              </a>
            </h3>
            <ul>
              <li>
                1399/03/20<mat-icon>event</mat-icon>
              </li>
              <li>
                <a routerlink="/" href="/" class="">سارا اسمیت</a> <mat-icon>person</mat-icon>
              </li>
            </ul>
            <p class="rtl">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
            </p>
            <a routerlink="/blog-details" class="blog-link" href="/blog-details">
              مطالعه بیشتر<mat-icon>keyboard_arrow_left</mat-icon>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div data-wow-delay=".4s" class="blog-item wow fadeInUp">
          <a routerlink="/blog-details" href="/blog-details" class="">
            <img src="assets/images/home/1.jpg" alt="Blog">
          </a>
          <div class="blog-inner">
            <span>مورد حقوقی</span>
            <h3>
              <a routerlink="/blog-details" href="/blog-details" class="">
                اگر بی گناه باشید عدالت برای شما ممکن است
              </a>
            </h3>
            <ul>
              <li>
                1399/03/20<mat-icon>event</mat-icon>
              </li>
              <li>
                <a routerlink="/" href="/" class="">سارا اسمیت</a> <mat-icon>person</mat-icon>
              </li>
            </ul>
            <p class="rtl">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
            </p>
            <a routerlink="/blog-details" class="blog-link" href="/blog-details">
              مطالعه بیشتر<mat-icon>keyboard_arrow_left</mat-icon>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div data-wow-delay=".5s" class="blog-item wow fadeInUp">
          <a routerlink="/blog-details" href="/blog-details" class="">
            <img src="assets/images/home/1.jpg" alt="Blog">
          </a>
          <div class="blog-inner">
            <span>مورد حقوقی</span>
            <h3>
              <a routerlink="/blog-details" href="/blog-details" class="">
                اگر بی گناه باشید عدالت برای شما ممکن است
              </a>
            </h3>
            <ul>
              <li>
                1399/03/20<mat-icon>event</mat-icon>
              </li>
              <li>
                <a routerlink="/" href="/" class="">سارا اسمیت</a> <mat-icon>person</mat-icon>
              </li>
            </ul>
            <p class="rtl">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
            </p>
            <a routerlink="/blog-details" class="blog-link" href="/blog-details">
              مطالعه بیشتر<mat-icon>keyboard_arrow_left</mat-icon>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div data-wow-delay=".6s" class="blog-item wow fadeInUp">
          <a routerlink="/blog-details" href="/blog-details" class="">
            <img src="assets/images/home/1.jpg" alt="Blog">
          </a>
          <div class="blog-inner">
            <span>مورد حقوقی</span>
            <h3>
              <a routerlink="/blog-details" href="/blog-details" class="">
                اگر بی گناه باشید عدالت برای شما ممکن است
              </a>
            </h3>
            <ul>
              <li>
                1399/03/20<mat-icon>event</mat-icon>
              </li>
              <li>
                <a routerlink="/" href="/" class="">سارا اسمیت</a> <mat-icon>person</mat-icon>
              </li>
            </ul>
            <p class="rtl">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
            </p>
            <a routerlink="/blog-details" class="blog-link" href="/blog-details">
              مطالعه بیشتر<mat-icon>keyboard_arrow_left</mat-icon>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div data-wow-delay=".7s" class="blog-item wow fadeInUp">
          <a routerlink="/blog-details" href="/blog-details" class="">
            <img src="assets/images/home/1.jpg" alt="Blog">
          </a>
          <div class="blog-inner">
            <span>مورد حقوقی</span>
            <h3>
              <a routerlink="/blog-details" href="/blog-details" class="">
                اگر بی گناه باشید عدالت برای شما ممکن است
              </a>
            </h3>
            <ul>
              <li>
                1399/03/20<mat-icon>event</mat-icon>
              </li>
              <li>
                <a routerlink="/" href="/" class="">سارا اسمیت</a> <mat-icon>person</mat-icon>
              </li>
            </ul>
            <p class="rtl">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
            </p>
            <a routerlink="/blog-details" class="blog-link" href="/blog-details">
              مطالعه بیشتر<mat-icon>keyboard_arrow_left</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="case-pagination">
      <ul>
        <li>
          <a routerlink="/blog" href="/blog" class="">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </a>
        </li>
        <li>
          <a routerlink="/blog" href="/blog" class="">1</a>
        </li>
        <li>
          <a routerlink="/blog" href="/blog" class="">2</a>
        </li>
        <li>
          <a routerlink="/blog" href="/blog" class="">3</a>
          </li>
        <li>
          <a routerlink="/blog" href="/blog" class="">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<app-footer></app-footer>
