#toTop {
  position: fixed;
  bottom: 30px;
  left: 0;
  cursor: pointer;
  display: none;
  z-index: 10;
}
.back-to-top-btn mat-icon{
  background-color: #037160;
  color: #fff;
  height: 50px;
  width: 50px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  font-size: 26px;
  border-radius: 50%;
  transition: all .5s ease;
  margin-left: 28px;
  box-shadow: 0 0 14px 0 #037160;
}



