<app-header></app-header>
<div class="container-fluid page-title-area title-img">
  <div class="row justify-content-center">
    <div class="col-12 align-self-center">
      <div class="page-title-text">
        <h2>مشاهده جزییات خبر</h2>
        <ul>
          <li>مشاهده جزییات خبر</li>
          <li>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </li>
          <li>
            <a routerLink="/blog" class="">اخبار</a>
          </li>
          <li>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </li>
          <li>
            <a routerLink="/" class="">صفحه اصلی</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="blog-details-area pt-100 pb-70">
  <div class="container rtl text-right">
    <div class="row">
      <div class="col-lg-7">
        <div class="blog-details-item">
          <div class="blog-details-img">
            <img src="assets/images/blog/1.jpg" alt="Blog Details">
            <h2>One problem of criminal activities is accounting for the proceeds without raising the suspicion of law enforcement agencies</h2>
            <ul>
              <li>
                <mat-icon>event</mat-icon>
                20 Feb 2020
              </li>
              <li>
                <mat-icon>person</mat-icon>
                <a routerlink="/blog" href="/blog" class="">John Doe</a>
              </li>
            </ul>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.</p>
            <p>Combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="blog-details-item">
          <div class="blog-details-category">
            <h3>دسته بندی</h3>
            <ul>
              <li>
                <a>Criminal Law
                  <mat-icon>keyboard_arrow_left</mat-icon>
                </a>
              </li>
              <li>
                <a>Civil Law
                  <mat-icon>keyboard_arrow_left</mat-icon>
                </a>
              </li>
              <li>
                <a>Education Law
                  <mat-icon>keyboard_arrow_left</mat-icon>
                </a>
              </li>
              <li>
                <a>Family Law
                  <mat-icon>keyboard_arrow_left</mat-icon>
                </a>
              </li>
              <li>
                <a>Cyber Law
                  <mat-icon>keyboard_arrow_left</mat-icon>
                </a>
              </li>
            </ul>
          </div>
          <div class="blog-details-search">
            <div class="search-area">
              <input type="text" placeholder="جستجو" class="form-control">
              <button type="submit" class="btn blog-details-btn">
                <mat-icon>search</mat-icon>
              </button>
            </div>
            <h3>بلاگ های اخیر</h3>
            <ul>
              <li>
                <img src="assets/images/blog/2.jpg" alt="Blog Details">
                <div class="blog-details-recent">
                  <h4>
                    <a>There are many variations of passages.</a>
                  </h4>
                  <ul>
                    <li>
                      <mat-icon>person</mat-icon>
                      <a>Admin</a>
                    </li>
                    <li>
                      <mat-icon>event</mat-icon>
                      Jan 03, 2020
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <img src="assets/images/blog/2.jpg" alt="Blog Details">
                <div class="blog-details-recent">
                  <h4>
                    <a>Justice May For You If You Are Innocent child</a>
                  </h4>
                  <ul>
                    <li>
                      <mat-icon>person</mat-icon>
                      <a>Admin</a>
                    </li>
                    <li>
                      <mat-icon>event</mat-icon>
                      Jan 03, 2020
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <img src="assets/images/blog/2.jpg" alt="Blog Details">
                <div class="blog-details-recent">
                  <h4>
                    <a>Who Can the Victim a Sue after a Car Accident?</a>
                  </h4>
                  <ul>
                    <li>
                      <mat-icon>person</mat-icon>
                      <a>Admin</a>
                    </li>
                    <li>
                      <mat-icon>event</mat-icon>
                      Jan 03, 2020
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="blog-details-tags">
            <h3>عبارات مرتبط</h3>
            <ul>
              <li>
                <a>Government</a>
              </li>
              <li>
                <a>Humanities</a>
              </li>
              <li>
                <a>Justice</a>
              </li>
              <li>
                <a>Social</a>
              </li>
              <li>
                <a>Virtue</a>
              </li>
              <li>
                <a>Rape</a>
              </li>
              <li>
                <a>Criminal</a>
              </li>
              <li>
                <a>Political</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
