<section class="blog-area pt-100">
  <div class="container">
    <div class="section-title">
      <span>بلاگ</span>
      <h2>جدیدترین بلاگ ها</h2>
    </div>
    <div class="blog-sliderowl-carousel">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="blog-item">
            <a routerlink="/blog-details" href="/blog-details" class="">
              <img src="assets/images/home/1.jpg" alt="Blog">
            </a>
            <div class="blog-inner">
              <span>مورد حقوقی</span>
              <h3>
                <a routerlink="/blog-details" href="/blog-details" class="">
                  اگر بی گناه باشید عدالت برای شما ممکن است
                </a>
              </h3>
              <ul>
                <li>
                  1399/03/20<mat-icon>event</mat-icon>
                </li>
                <li>
                  <a routerlink="/" href="/" class="">سارا اسمیت</a> <mat-icon>person</mat-icon>
                </li>
              </ul>
              <p class="rtl">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              </p>
              <a routerlink="/blog-details" class="blog-link" href="/blog-details">
                <mat-icon>keyboard_arrow_left</mat-icon>مطالعه بیشتر
              </a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="blog-item">
            <a routerlink="/blog-details" href="/blog-details" class="">
              <img src="assets/images/home/1.jpg" alt="Blog">
            </a>
            <div class="blog-inner">
              <span>مورد حقوقی</span>
              <h3>
                <a routerlink="/blog-details" href="/blog-details" class="">
                  اگر بی گناه باشید عدالت برای شما ممکن است
                </a>
              </h3>
              <ul>
                <li>
                  1399/03/20<mat-icon>event</mat-icon>
                </li>
                <li>
                  <a routerlink="/" href="/" class="">سارا اسمیت</a> <mat-icon>person</mat-icon>
                </li>
              </ul>
              <p class="rtl">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              </p>
              <a routerlink="/blog-details" class="blog-link" href="/blog-details">
                <mat-icon>keyboard_arrow_left</mat-icon>مطالعه بیشتر
              </a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="blog-item">
            <a routerlink="/blog-details" href="/blog-details" class="">
              <img src="assets/images/home/1.jpg" alt="Blog">
            </a>
            <div class="blog-inner">
              <span>مورد حقوقی</span>
              <h3>
                <a routerlink="/blog-details" href="/blog-details" class="">
                  اگر بی گناه باشید عدالت برای شما ممکن است
                </a>
              </h3>
              <ul>
                <li>
                  1399/03/20<mat-icon>event</mat-icon>
                </li>
                <li>
                  <a routerlink="/" href="/" class="">سارا اسمیت</a> <mat-icon>person</mat-icon>
                </li>
              </ul>
              <p class="rtl">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              </p>
              <a routerlink="/blog-details" class="blog-link" href="/blog-details">
                <mat-icon>keyboard_arrow_left</mat-icon>مطالعه بیشتر
              </a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="blog-item">
            <a routerlink="/blog-details" href="/blog-details" class="">
              <img src="assets/images/home/1.jpg" alt="Blog">
            </a>
            <div class="blog-inner">
              <span>مورد حقوقی</span>
              <h3>
                <a routerlink="/blog-details" href="/blog-details" class="">
                  اگر بی گناه باشید عدالت برای شما ممکن است
                </a>
              </h3>
              <ul>
                <li>
                  1399/03/20<mat-icon>event</mat-icon>
                </li>
                <li>
                  <a routerlink="/" href="/" class="">سارا اسمیت</a> <mat-icon>person</mat-icon>
                </li>
              </ul>
              <p class="rtl">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              </p>
              <a routerlink="/blog-details" class="blog-link" href="/blog-details">
                <mat-icon>keyboard_arrow_left</mat-icon>مطالعه بیشتر
              </a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="blog-item">
            <a routerlink="/blog-details" href="/blog-details" class="">
              <img src="assets/images/home/1.jpg" alt="Blog">
            </a>
            <div class="blog-inner">
              <span>مورد حقوقی</span>
              <h3>
                <a routerlink="/blog-details" href="/blog-details" class="">
                  اگر بی گناه باشید عدالت برای شما ممکن است
                </a>
              </h3>
              <ul>
                <li>
                  1399/03/20<mat-icon>event</mat-icon>
                </li>
                <li>
                  <a routerlink="/" href="/" class="">سارا اسمیت</a> <mat-icon>person</mat-icon>
                </li>
              </ul>
              <p class="rtl">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              </p>
              <a routerlink="/blog-details" class="blog-link" href="/blog-details">
                <mat-icon>keyboard_arrow_left</mat-icon>مطالعه بیشتر
              </a>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>



