nav{
  font-family: IRANSans;
  direction:rtl;
  text-align: right;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  color: #343A40;
  background-color: white;
  transition: all .5s ease;

}

.navbar-brand{
  color: #343A40;
}

.nav-link{
  color: #343A40;
  cursor: pointer;
}

.nav-link:hover{
  color: #037160;
}

.dropdown-menu{
  position: absolute;
  background: #fff;
  padding: 15px;
  right: 0;
  border: none;
  min-width: 13rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
  color: #343A40;
}

.dropdown-item{
  color: #343A40!important;
  font-size: 14px;
}

.dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus{
  color: #037160!important;
  background-color: transparent;
  font-weight: bold;
}

.navbar-nav li:hover {
  color: #037160;
}
.navbar-nav li.active  {
  color: #037160;
}
.navbar-nav li.active a {
  color: #037160;
}
.navbar-nav li:hover a{
  color: #037160;
}

.nav-item{
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

.underline{
  border-bottom: 2px solid #037160;
  width: 0px;
  float: inherit;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display:block;
}
.nav-item:hover .underline {
  width: 100%;
}

.nav-link:focus{
  outline: none!important;
  border: none;
}
.nav-item:focus{
  outline: none!important;
  border: none;
}

a.login-button{
  border-left: none!important;
}
@media screen and (max-width: 978px) {
  .nav-item {
    border-bottom: 1px #f2f2f2 solid;
  }
  .nav-item.active {
    border-bottom: 1px #f2f2f2 solid;
  }
  .nav-item:last-child{
    margin-bottom: 50px;
  }
  .nav-item:hover .underline {
    width: 0%;
  }
}




