<app-header></app-header>
<div class="container-fluid page-title-area title-img">
  <div class="row justify-content-center">
    <div class="col-12 align-self-center">
      <div class="page-title-text">
        <h2>مشاهده اطلاعات وکیل</h2>
        <ul>
          <li>مشاهده اطلاعات وکیل</li>
          <li>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </li>
          <li>
            <a routerLink="/attorney" class="">وکلا</a>
          </li>
          <li>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </li>
          <li>
            <a routerLink="/" class="">صفحه اصلی</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="attorney-details pt-100 pb-70 rtl">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="attor-details-item">
          <img src="assets/images/home/1.jpg" alt="Details">
          <div class="attor-details-left">
            <div class="attor-social">
              <ul>
                <li>
                  <a href="https://www.facebook.com/" target="_blank" class="">
                    <mat-icon>facebook</mat-icon>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/" target="_blank" class="">
                    <mat-icon>facebook</mat-icon>
                  </a>
                </li>
                <li>
                  <a href="https://www.twitter.com/" target="_blank" class="">
                    <mat-icon>facebook</mat-icon>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/" target="_blank" class="">
                    <mat-icon>facebook</mat-icon>
                  </a>
                </li>
              </ul>
            </div>
            <div class="attor-social-details">
              <h3>اطلاعات تماس</h3>
              <ul>
                <li>
                  <mat-icon>phone</mat-icon>
                  <a href="tel:+07554332322" class="">
                    Call : +07 554 332 322
                  </a>
                </li>
                <li>
                  <mat-icon>email</mat-icon>
                  <a href="mailto:hello@lufz.com" class="">
                    hello@lufz.com
                  </a>
                </li>
                <li>
                  <mat-icon>pin_drop</mat-icon>
                  تهران نیاوران
                </li>
              </ul>
            </div>
            <div class="attor-work">
              <h3>ساعت کاری</h3>
                <ul class="rtl text-right">
                  <li>شنبه ها - 9 الی 20</li>
                  <li>سه شنبه ها - 9 الی 17</li>
                  <li>چهار شنبه ها - 9 الی 20</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="attor-details-item">
          <div class="attor-details-right">
            <div class="attor-details-name">
              <h2>سارا اسمیت</h2>
              <span>دادستان عمومی</span>
              <p>لیسانس حقوق در LL.B. (هونز) در انگلستان</p>
            </div>
            <div class="attor-details-things">
              <h3>بیو</h3>
              <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              </p>
            </div>
            <div class="attor-details-things">
              <h3>تحصیلات</h3>
              <ul class="p-0">
                <li>
                   مدرک دکترای حقوق کیفری در دانشگاه تهران (2006)
                </li>
                <li>
                  استاد حقوق خانواده در دانشگاه لیزو بین الملل (2002)
                </li>
                <li>
                  گواهینامه متوسطه بالاتر در کولاژ (1991)
                </li>
              </ul>
            </div>
            <div class="attor-details-things">
              <h3>Research</h3>
              <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
