<app-panel-header></app-panel-header>
<app-user-menu></app-user-menu>
<div class="content rtl">

  <div class="content-inner" id="main-content">
    <div class="content-wrapper">

      <div class="content-titleSection row justify-content-center">
        <div class="col-12 align-self-center">
          <strong class="content-title">پنل کاربر</strong>
        </div>
      </div>

      <div class="content-titleSection row justify-content-center">
        <div class="col-12 align-self-center">
          <div class="breadcrumb">
            <a routerLink="/attorney/dashboard" class="breadcrumb-link">داشبورد</a>
          </div>
        </div>
      </div>

      <div class="content-box">
        <div class="content-inner-box">

          <div class="row align-items-stretch">
            <div class="c-dashboardInfo col-sm-12 col-lg-4">
              <div class="wrap">
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                  تعداد مشاوره های آنلاین
                </h4>
                <span class="hind-font caption-12 c-dashboardInfo__count">68</span>
              </div>
            </div>
            <div class="c-dashboardInfo col-sm-12 col-lg-4">
              <div class="wrap">
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                  تعداد مشاوره های تلفنی
                </h4>
                <span class="hind-font caption-12 c-dashboardInfo__count">5</span>
              </div>
            </div>
            <div class="c-dashboardInfo col-sm-12 col-lg-4">
              <div class="wrap">
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                  تعداد مشاوره های حضوری
                </h4>
                <span class="hind-font caption-12 c-dashboardInfo__count">5</span>
              </div>
            </div>
          </div>

          <div class="row mt-4">

            <div class="col-md-12">
              <div class="card table-card">
                <div class="card-header">
                  <h5>مشاوره های حقوقی تلفنی</h5>
                </div>
                <div class="card-block">
                  <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                      <thead>
                      <tr>
                        <th>نام و نام خانوادگی</th>
                        <th>موضوع</th>
                        <th>توضیحات</th>
                        <th>تاریخ ثبت</th>
                        <th>عملیات</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>مهناز زین الدینی</td>
                        <td>موضوع</td>
                        <td>توضیحات</td>
                        <td>8/9/2018</td>
                        <th><button mat-icon-button><mat-icon>remove_red_eye</mat-icon></button></th>
                      </tr>
                      <tr>
                        <td>مهناز زین الدینی</td>
                        <td>موضوع</td>
                        <td>توضیحات</td>
                        <td>8/9/2018</td>
                        <th><button mat-icon-button><mat-icon>remove_red_eye</mat-icon></button></th>
                      </tr>
                      <tr>
                        <td>مهناز زین الدینی</td>
                        <td>موضوع</td>
                        <td>توضیحات</td>
                        <td>8/9/2018</td>
                        <th><button mat-icon-button><mat-icon>remove_red_eye</mat-icon></button></th>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row mt-4">

            <div class="col-md-12">
              <div class="card table-card">
                <div class="card-header">
                  <h5>مشاوره های حقوقی حضوری</h5>
                </div>
                <div class="card-block">
                  <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                      <thead>
                      <tr>
                        <th>نام و نام خانوادگی</th>
                        <th>موضوع</th>
                        <th>توضیحات</th>
                        <th>تاریخ ثبت</th>
                        <th>عملیات</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>مهناز زین الدینی</td>
                        <td>موضوع</td>
                        <td>توضیحات</td>
                        <td>8/9/2018</td>
                        <th><button mat-icon-button><mat-icon>remove_red_eye</mat-icon></button></th>
                      </tr>
                      <tr>
                        <td>مهناز زین الدینی</td>
                        <td>موضوع</td>
                        <td>توضیحات</td>
                        <td>8/9/2018</td>
                        <th><button mat-icon-button><mat-icon>remove_red_eye</mat-icon></button></th>
                      </tr>
                      <tr>
                        <td>مهناز زین الدینی</td>
                        <td>موضوع</td>
                        <td>توضیحات</td>
                        <td>8/9/2018</td>
                        <th><button mat-icon-button><mat-icon>remove_red_eye</mat-icon></button></th>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<app-panel-footer></app-panel-footer>
