<app-header></app-header>
<div class="container-fluid page-title-area title-img">
  <div class="row justify-content-center">
    <div class="col-12 align-self-center">
      <div class="page-title-text">
        <h2>درباره ما</h2>
        <ul>
          <li>درباره ما</li>
          <li>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </li>
          <li>
            <a routerLink="/" class="">صفحه اصلی</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="app-form">
  <div class="app-area">
    <div class="container">
      <div class="row location-bg rtl">
        <div class="col-sm-3 col-lg-3">
          <div class="location-item row rtl justify-content-center">
            <a class="app-btn downloadbtns" href="http:apple.com">
              <i class="fab fa-android"></i>
              <p>دانلود از <br/> <span class="big-txt">Play Store</span></p>
            </a>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="location-item row rtl justify-content-center">
            <a class="app-btn downloadbtns" href="http:apple.com">
              <i class="fab fa-android"></i>
              <p>دانلود از <br/> <span class="big-txt">کافه بازار</span></p>
            </a>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="location-item row rtl justify-content-center">
            <a class="app-btn downloadbtns" href="http:apple.com">
              <i class="fab fa-apple"></i>
              <p>دانلود از <br/> <span class="big-txt">App Store</span></p>
            </a>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="location-item row rtl justify-content-center">
            <a class="app-btn downloadbtns" href="http:apple.com">
              <i class="fab fa-apple"></i>
              <p>دانلود از <br/> <span class="big-txt">سیب اپ</span></p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid help-area pb-70">
  <div class="row align-items-center">
    <div class="col-sm-12 col-lg-6">
      <div class="help-item help-left">
        <img src="assets/images/home/5.jpg" alt="Help">
      </div>
    </div>
    <div class="col-sm-12 col-lg-6">
      <div class="help-item">
        <div class="help-right text-right">
          <h2>ما از کمک کردن به شما خوشحال می شویم</h2>
          <p class="rtl">
            ما به عنوان یک شرکت حقوقی حرفه ای برای دستیابی به پیروزی مشتری خود مجاز هستیم. و برای مقابله با اوقات بد شما ، این وکلای تبحر همیشه با دلسوزی ، صداقت و احترام در خدمت شما خواهند بود. مهمترین انگیزه ما، پیروزی شماست.
          </p>

          <div class="help-inner-left">
            <ul>
              <li>
                سایت ما را بررسی کنید<mat-icon>done</mat-icon>
              </li>
              <li >
                خدمت را انتخاب کنید<mat-icon>done</mat-icon>
              </li>
            </ul>
          </div>
          <div class="help-inner-right">
            <ul >
              <li >
                پاسخگویی سریع<mat-icon>done</mat-icon>
              </li>
              <li >
                بهترین عملکرد<mat-icon>done</mat-icon>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center help-wrap pt-5">
    <div class="col-lg-6">
      <div class="help-item">
        <div class="help-right text-right">
          <h2 >ما نگران حقوق شما هستیم</h2>
          <p class="rtl">
            کل تیم موسسه حقوقی Lyzo با یک ذهنیت مثبت از همه مشتریان خود پشتیبانی می کند. تیم همیشه از شما کیفیت بالا پشتیبانی می کند تا از پیروزی شما اطمینان حاصل کند.
          </p>
          <div class="help-inner-left">
            <ul >
              <li >
                وپاسخگویی آنلاین<mat-icon>done</mat-icon>
              </li>
              <li >
                مسیر قانونی<mat-icon>done</mat-icon>
              </li>
            </ul>
          </div>
          <div class="help-inner-right">
            <ul>
              <li class="">
                خدمات حقوقی<mat-icon>done</mat-icon>
              </li>
              <li>
                کار صادقانه<mat-icon>done</mat-icon>
              </li>
            </ul>
          </div>
          <a class="btn btn-outline-success my-4">مطالعه بیشتر</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="help-item help-left">
        <img src="assets/images/home/6.jpg" alt="Help">
      </div>
    </div>
  </div>
</div>

<section class="expertise-area expertise-area-two pt-100 pb-70">
  <div class="container rtl">
    <div class="section-title">
      <span>تجربیات ما</span>
      <h2>موسسه حقوقی اختصاص داده شده به مشتریان ما</h2>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="expertise-item">
          <ul>
            <li data-wow-delay=".3s" class="wow fadeInUp">
              <div class="row justify-content-center">
                <div class="col-2 align-self-center">
                  <mat-icon>done</mat-icon>
                </div>
                <div class="col-10 align-self-center">
                  <h3>تجربه</h3>
                  <p class="rtl">
                    تیم های Lyzo فوق العاده ماهر هستند ، شرایط مشتری خود را تأیید می کنند و به آنها کمک می کنند تا به هدف خود برسند.
                  </p>
                </div>
              </div>
            </li>
            <li data-wow-delay=".4s" class="wow fadeInUp">
              <div class="row justify-content-center">
                <div class="col-2 align-self-center">
                  <mat-icon>school</mat-icon>
                </div>
                <div class="col-10 align-self-center">
                  <h3 >وکیل ماهر</h3>
                  <p class="rtl">
                    وکلای ما نوآور و آگاه هستند و به مشتریان کمک می کنند تا تعداد زیادی راه حل را برای موفقیت دنبال کنند.
                  </p>

                </div>
              </div>
            </li>
            <li data-wow-delay=".5s" class="wow fadeInUp">
              <div class="row justify-content-center">
                <div class="col-2 align-self-center">
                  <mat-icon>account_balance</mat-icon>
                </div>
                <div class="col-10 align-self-center">
                  <h3>مراحل قانونی</h3>
                  <p class="rtl">
                    ما تمام مقالات و مدارک معتبر را حفظ می کنیم و به طور قانونی به نتیجه می رسیم.
                  </p>

                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="expertise-item">
          <ul>
            <li data-wow-delay=".3s" class="wow fadeInUp">
              <div class="row justify-content-center">
                <div class="col-2 align-self-center">
                  <mat-icon>attach_money</mat-icon>
                </div>
                <div class="col-10 align-self-center">
                  <h3>هزینه کم</h3>
                  <p class="rtl">
                    تیم 'وکیل شما' فوق العاده ماهر هستند ، شرایط مشتری خود را درک می کنند و به آنها کمک می کنند تا به انگیزه خود برسند. </p>
                </div>
              </div>
            </li>
            <li data-wow-delay=".4s" class="wow fadeInUp">
              <div class="row justify-content-center">
                <div class="col-2 align-self-center">
                  <mat-icon>access_time</mat-icon>
                </div>
                <div class="col-10 align-self-center">
                  <h3>عملکرد خوب</h3>
                  <p class="rtl">
                    وکلای ما خلاق و آگاه هستند و با یافتن راه حل های متعدد برای پیروزی از مشتریان پشتیبانی می کنند.
                  </p>
                </div>
              </div>
            </li>
            <li data-wow-delay=".5s" class="wow fadeInUp">
              <div class="row justify-content-center">
                <div class="col-2 align-self-center">
                  <mat-icon>quickreply</mat-icon>
                </div>
                <div class="col-10 align-self-center">
                  <h3>خدمات سریع</h3>
                  <p class="rtl">
                    ما کلیه مقالات و مدارک معتبر را مدیریت می کنیم و به طور قانونی به مسیر خود ادامه می دهیم.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="about-area pt-100">
  <div class="container rtl text-right">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-item">
            <div class="about-image">
              <img src="assets/images/about/2.jpg" alt="About" class="img-fluid">
            </div>
            <div class="about-content">
            <h2>مهارت های ما باعث شهرت ما می شود</h2>
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-item">
          <div class="about-information">
            <h2>
              <span>21 دی 1398,</span>
              ما شرکت حقوقی خود را راه اندازی کردیم
            </h2>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
            <p>در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
          </div>
          <div class="about-information">
            <h2>
              <span>21 دی 1398,</span>
              ما شرکت حقوقی خود را راه اندازی کردیم
            </h2>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
            <p>در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
          </div>
          <div class="about-information">
            <h2>
              <span>21 دی 1398,</span>
              ما شرکت حقوقی خود را راه اندازی کردیم
            </h2>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
            <p>در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
          </div>
          <div class="about-information">
            <h2>
              <span>21 دی 1398,</span>
              ما شرکت حقوقی خود را راه اندازی کردیم
            </h2>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
            <p>در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
