@import "https://fonts.googleapis.com/css?family=Muli";
*{
  font-family: "Muli",sans-serif;
}
.card.profile-card {
	box-shadow: 0px 0px 20px #DFDFDF;
	border: none;
	border-radius: 0;
}

figure {
  overflow: hidden
}

.img-profile {
    -webkit-clip-path: circle(62% at 30% 28%);
    -moz-clip-path: circle(62% at 30% 28%);
    clip-path: circle(62% at 30% 28%);
    transform: translatez(0);
    transition: all .3s linear;
}
.img-profile:hover {
    -webkit-clip-path: circle(30% at 50% 50%);
    clip-path: circle(30% at 50% 50%);
  transform: scale(1.07) rotate(-5deg) translatez(0)
}
.profile-card .fab {
	top: 63%;
	z-index: 10;
	left: 15px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	font-size: 60px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	color: #fff;
	background: #F44336;
	-webkit-user-select: none;
	box-shadow: 0 4px 4px #666;
	transition: all 0.3s ease-in-out 0s;
}
span.icon-prev.carousel-control-prev-icon{
    background-image: url('https://apufpel.com.br/assets/img/seta_prim.png')!important;
 }
 span.icon-next.carousel-control-next-icon{
   background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')!important;
 }