
<section class="section-padding">
<div class="container">
    <div class="row pb-4">
        <div class="col-md-12 text-right order-last">
            <h2 class="section-title">وکیل های ما</h2>
        </div>
    </div>
</div>

  <owl-carousel-o [options]="customOptions">
    <ng-container>
      <ng-template carouselSlide>
        <section class="bg-faded container-fluid">
          <div class="row py-3 flex-items-sm-center" style="padding: 20px;">
            <div class="clearfix">
              <div class="card profile-card">
                <figure>
                  <button mat-icon-button class="fab">
                    <mat-icon>home</mat-icon>
                  </button>

                  <img src="http://cps-static.rovicorp.com/3/JPG_400/MI0003/711/MI0003711195.jpg?partner=allrovi.com" class="img-fluid img-profile" alt="Card image">
                </figure>
                <div class="card-block text-right pr-4">
                  <p class="h4 card-title font-weight-bold">Ali</p>
                  <p class="h6 card-subtitle text-muted">C.E.O</p><br>
                </div>
              </div>
            </div>
          </div>
        </section>
      </ng-template>
      <ng-template carouselSlide>
        <section class="bg-faded container-fluid">
          <div class="row py-3 flex-items-sm-center" style="padding: 20px;">
            <div class="clearfix">
              <div class="card profile-card">
                <figure>
                  <button mat-icon-button class="fab">
                    <mat-icon>home</mat-icon>
                  </button>

                  <img src="http://cps-static.rovicorp.com/3/JPG_400/MI0003/711/MI0003711195.jpg?partner=allrovi.com" class="img-fluid img-profile" alt="Card image">
                </figure>
                <div class="card-block text-right pr-4">
                  <p class="h4 card-title font-weight-bold">Ali</p>
                  <p class="h6 card-subtitle text-muted">C.E.O</p><br>
                </div>
              </div>
            </div>
          </div>
        </section>
      </ng-template>
      <ng-template carouselSlide>
        <section class="bg-faded container-fluid">
          <div class="row py-3 flex-items-sm-center" style="padding: 20px;">
            <div class="clearfix">
              <div class="card profile-card">
                <figure>
                  <button mat-icon-button class="fab">
                    <mat-icon>home</mat-icon>
                  </button>

                  <img src="http://cps-static.rovicorp.com/3/JPG_400/MI0003/711/MI0003711195.jpg?partner=allrovi.com" class="img-fluid img-profile" alt="Card image">
                </figure>
                <div class="card-block text-right pr-4">
                  <p class="h4 card-title font-weight-bold">Ali</p>
                  <p class="h6 card-subtitle text-muted">C.E.O</p><br>
                </div>
              </div>
            </div>
          </div>
        </section>
      </ng-template>
      <ng-template carouselSlide>
        <section class="bg-faded container-fluid">
          <div class="row py-3 flex-items-sm-center" style="padding: 20px;">
            <div class="clearfix">
              <div class="card profile-card">
                <figure>
                  <button mat-icon-button class="fab">
                    <mat-icon>home</mat-icon>
                  </button>

                  <img src="http://cps-static.rovicorp.com/3/JPG_400/MI0003/711/MI0003711195.jpg?partner=allrovi.com" class="img-fluid img-profile" alt="Card image">
                </figure>
                <div class="card-block text-right pr-4">
                  <p class="h4 card-title font-weight-bold">Ali</p>
                  <p class="h6 card-subtitle text-muted">C.E.O</p><br>
                </div>
              </div>
            </div>
          </div>
        </section>
      </ng-template>
    </ng-container>
  </owl-carousel-o>

</section>
