<section class="section-padding section-grey">
  <div class="container">
    <div class="row">
      <div class="col col-lg-6 col-lg-offset-1 col-md-7 rtl text-right">
        <div class="section-title-white">
          <h2>درخواست مشاوره</h2>
        </div>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>

        <div class="contact-form-s1 form">
              <div class="row">
                  <div class="col-6">
                    <div>
                      <label for="name">نام کامل</label>
                      <input type="text" id="name" name="name" class="form-control">
                    </div>
                  </div>
                  <div class="col-6">
                    <div>
                      <label for="phone">شماره موبایل</label>
                      <input type="text" id="phone" name="phone" class="form-control">
                    </div>
                  </div>
                  <div class="col-12">
                    <div>
                      <label for="subject">موضوع</label>
                      <input type="text" id="subject" name="subject" class="form-control">
                    </div>
                  </div>
              </div>
            <div class="row pt-4">
              <div class="col-12">
                <button mat-raised-button color="primary" class="btn btn-block">ثبت درخواست</button>
              </div>
            </div>
        </div>
      </div>
      <div class="col col-md-4 col-md-offset-1 col-md-5">
        <div class="contact-box rtl text-right">
          <div class="section-title-white">
            <h2>تماس</h2>
          </div>
          <div class="details">
            <p>برای هر نوع پرس و جو، با راه های زیر تماس بگیرید.</p>
            <ul>
              <li><mat-icon>phone</mat-icon> +123 (569) 254 78</li>
              <li><mat-icon>email</mat-icon> info@arka.com</li>
              <li><mat-icon>home</mat-icon> ایران، تهران بزرگ،تهران  </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
