<div class="contact-form pb-100">
  <div class="loaction-area rtl">
    <div class="container">
      <div class="row location-bg">
        <div class="col-sm-6 col-lg-4">
          <div class="location-item">
            <div class="location-icon">
              <mat-icon>pin_drop</mat-icon>
            </div>
            <h3>آدرس</h3>
            <ul>
              <li>تهران، نیاوران، خیابان باهنر، بعد از چهارراه کامرانیه، پلاک 127، طبقه 4، واحد 5</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="location-item">
            <div class="location-icon">
              <mat-icon>email</mat-icon>
            </div>
            <h3>ایمیل</h3>
            <ul>
              <li>
                <a href="mailto:hello@arkainvent.com" class="">info@arkainvent.com</a>
              </li>
              <li>
                <a href="mailto:info@arkainvent.com" class="">info@arkainvent.com</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
          <div class="location-item">
            <div class="location-icon">
              <mat-icon>phone</mat-icon>
            </div>
            <h3>تلفن</h3>
            <ul>
              <li style="direction: ltr;">
                <a href="tel:+982126156619" class="">+21 26156619</a>
              </li>
              <li style="direction: ltr;">
                <a href="tel:+982126156619" class="">+21 26156619</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <form id="contactForm" class="rtl">
      <div class="row contact-wrap">
        <div class="col-sm-6 col-lg-6">
          <div class="form-group">
            <input type="text" name="name" id="name" placeholder="نام و نام خانوادگی" class="form-control">
          </div>
        </div>
        <div class="col-sm-6 col-lg-6"><div class="form-group">
          <input type="email" name="email" id="email" placeholder="ایمیل" class="form-control">
        </div>
        </div>
        <div class="col-sm-6 col-lg-6"><div class="form-group">
          <input type="text" name="phone_number" id="phone_number" placeholder="موبایل" class="form-control">
        </div>
        </div>
        <div class="col-sm-6 col-lg-6"><div class="form-group">
        <input type="text" name="msg_subject" id="msg_subject" placeholder="موضوع" class="form-control">
        </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <textarea name="message" id="message" cols="30" rows="8" placeholder="توضیحات" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="text-center">
            <button mat-raised-button type="submit" class="border-btn">ثبت درخواست مشاوره</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
