h2{
  color: #037160;
}
mat-icon{
  font-size: 40px;
  color: #037160;
  margin: 0px!important;
}
mat-card:hover h2,mat-card:hover mat-icon{
  color: #FFFFFF;
}
::ng-deep .mat-card-header-text {
  /* CSS styles go here */
  margin: 0px!important;
}
