<section class="section-padding">
<div class="container">
    <div class="row pb-4">
        <div class="col-md-12 text-right order-last">
            <h2 class="section-title">خدمات قضایی</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center pt-4">
            <a href="#">
                <mat-card class="green">
                  <mat-card-title>
                    <mat-icon>home</mat-icon>
                  </mat-card-title>

                    <mat-card-content>
                        <h2 class="pt-1 pb-1">title</h2>
                        <p class="text-justify-center">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
      <div class="col-md-4 text-center pt-4">
        <a href="#">
          <mat-card class="green">
            <mat-card-title>
              <mat-icon>home</mat-icon>
            </mat-card-title>

            <mat-card-content>
              <h2 class="pt-1 pb-1">title</h2>
              <p class="text-justify-center">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      <div class="col-md-4 text-center pt-4">
        <a href="#">
          <mat-card class="green">
            <mat-card-title>
              <mat-icon>home</mat-icon>
            </mat-card-title>

            <mat-card-content>
              <h2 class="pt-1 pb-1">title</h2>
              <p class="text-justify-center">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      <div class="col-md-4 text-center pt-4">
        <a href="#">
          <mat-card class="green">
            <mat-card-title>
              <mat-icon>home</mat-icon>
            </mat-card-title>

            <mat-card-content>
              <h2 class="pt-1 pb-1">title</h2>
              <p class="text-justify-center">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      <div class="col-md-4 text-center pt-4">
        <a href="#">
          <mat-card class="green">
            <mat-card-title>
              <mat-icon>home</mat-icon>
            </mat-card-title>

            <mat-card-content>
              <h2 class="pt-1 pb-1">title</h2>
              <p class="text-justify-center">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      <div class="col-md-4 text-center pt-4">
        <a href="#">
          <mat-card class="green">
            <mat-card-title>
              <mat-icon>home</mat-icon>
            </mat-card-title>

            <mat-card-content>
              <h2 class="pt-1 pb-1">title</h2>
              <p class="text-justify-center">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>
</div>
</section>
