<section class="practice-area pt-30 pb-70">
  <div class="container">
    <div class="section-title">
      <span>ما چگونه می توانیم به شما کمک کنیم؟</span>
      <h2>خدمات حقوقی ما</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="practice-item">
          <div class="practice-icon">
            <mat-icon>people</mat-icon>
          </div>
          <h3>قانون مدنی</h3>
          <p class="rtl">
            وکلای ما بسیار باتجربه هستند و می توانند بهترین پشتیبانی را در زمینه قانون مدنی ارائه دهند.
          </p>
          <a>مطالعه بیشتر</a>
          <img src="assets/images/home/7.png" alt="Shape" class="practice-shape-one">
          <img src="assets/images/home/8.png" alt="Shape" class="practice-shape-two">
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="practice-item">
          <div class="practice-icon">
            <mat-icon>family_restroom</mat-icon>
          </div>
          <h3>قانون خانواده</h3>
          <p class="rtl">
            وکلای ما کاملاً واجد شرایط و باتجربه هستند تا نتیجه بهتری به دست آورند.
          </p>
          <a>مطالعه بیشتر</a>
          <img src="assets/images/home/7.png" alt="Shape" class="practice-shape-one">
          <img src="assets/images/home/8.png" alt="Shape" class="practice-shape-two">
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="practice-item">
          <div class="practice-icon">
            <mat-icon>attach_money</mat-icon>
          </div>
          <h3>قانون تجاری</h3>
          <p class="rtl">
            تا زمانی که وکلای ما برای حمایت از شما در اینجا حضور داشته باشند ، لازم نیست در مورد پرونده های تجاری خود فکر کنید.
          </p>
          <a>مطالعه بیشتر</a>
          <img src="assets/images/home/7.png" alt="Shape" class="practice-shape-one">
          <img src="assets/images/home/8.png" alt="Shape" class="practice-shape-two">
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="practice-item">
          <div class="practice-icon">
            <mat-icon>school</mat-icon>
          </div>
          <h3 >قانون تحصیل</h3>
          <p class="rtl">
            تیم های Lyzo بسیار شایسته هستند ، شرایط مشتری خود را در نظر بگیرند و آنها را برای موفقیت توانمند کنند.
          </p>
          <a>مطالعه بیشتر</a>
          <img src="assets/images/home/7.png" alt="Shape" class="practice-shape-one">
          <img src="assets/images/home/8.png" alt="Shape" class="practice-shape-two">
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
      <div class="practice-item">
        <div class="practice-icon">
          <mat-icon>fence</mat-icon>
        </div>
        <h3> قانون کیفری</h3>
        <p class="rtl">
          ما وکلای برجسته ای داریم که پرونده های کیفری چالش برانگیز را با دقت و حساسیت زیادی حل می کنیم.
        </p>
        <a>مطالعه بیشتر</a>
        <img src="assets/images/home/7.png" alt="Shape" class="practice-shape-one">
        <img src="assets/images/home/8.png" alt="Shape" class="practice-shape-two">
      </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="practice-item">
          <div class="practice-icon">
            <mat-icon>web</mat-icon>
          </div>
          <h3>قانون سایبری</h3>
          <p class="rtl">
            ما وکلای متخصص امنیت را ارائه می دهیم که در ارزیابی این شرایط بسیار عالی عمل می کنند.
          </p>
          <a>مطالعه بیشتر</a>
          <img src="assets/images/home/7.png" alt="Shape" class="practice-shape-one">
          <img src="assets/images/home/8.png" alt="Shape" class="practice-shape-two">
        </div>
      </div>
    </div>
  </div>
</section>
