<app-header></app-header>
<div class="container-fluid page-title-area title-img">
  <div class="row justify-content-center">
    <div class="col-12 align-self-center">
      <div class="page-title-text">
        <h2>مشاوره تلفنی</h2>
        <ul>
          <li>مشاوره تلفنی</li>
          <li>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </li>
          <li>
            <a routerLink="/consultation" class="">مشاوره حقوقی</a>
          </li>
          <li>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </li>
          <li>
            <a routerLink="/" class="">صفحه اصلی</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="contact-form pt-100 rtl">
  <div class="container">
    <div class="row">
      <div class="col-12 text-right pb-5">
        <h3>          در کمتر از ۳۰ دقیقه از طریق تلفن مشکل خود را توسط وکلای متخصص حل کنید، در هر کشور یا شهری که هستید می توانید وقت مشاوره تلفنی رزرو کنید و از طریق تلفن به وکیل مورد نظر متصل شوید.
        </h3>
      </div>
    </div>
    <div class="pricing-table">
          <div class="ptable-item">
            <div class="ptable-single">
              <div class="ptable-header">
                <div class="ptable-status black">
                  <span><i class="fa fa-phone"></i></span>
                </div>
                <div class="ptable-title">
                  <h2>15 دقیقه</h2>
                </div>
                <div class="ptable-price">
                  <h2><span>30,000 تومان</span></h2>
                </div>
              </div>
              <div class="ptable-body">
                <div class="ptable-description">
                  <ul>
                    <li>
                      زمان مکالمه تا 15 دقیقه
                    </li>
                    <li>
                      ارائه مشاوره توسط متخصصین مجرب
                    </li>
                    <li>
                      بازگشت هزینه مشاوره در صورت انعقاد قرارداد با وکیل
                    </li>
                  </ul>
                </div>
              </div>
              <div class="ptable-footer">
                <div class="ptable-action">
                  <a href="">رزرو وقت</a>
                </div>
              </div>
            </div>
          </div>

          <div class="ptable-item featured-item">
            <div class="ptable-single">
              <div class="ptable-header">
                <div class="ptable-status">
                  <span><i class="fa fa-phone"></i></span>
                </div>
                <div class="ptable-title">
                  <h2>30 دقیقه</h2>
                </div>
                <div class="ptable-price">
                  <h2><span>60,000 تومان</span></h2>
                </div>
              </div>
              <div class="ptable-body">
                <div class="ptable-description">
                  <ul>
                    <li>
                      زمان مکالمه تا 30 دقیقه
                    </li>
                    <li>
                      ارائه مشاوره توسط متخصصین مجرب
                    </li>
                    <li>
                      بازگشت هزینه مشاوره در صورت انعقاد قرارداد با وکیل
                    </li>
                  </ul>
                </div>
              </div>
              <div class="ptable-footer">
                <div class="ptable-action">
                  <a href="">رزرو وقت</a>
                </div>
              </div>
            </div>
          </div>

          <div class="ptable-item">
            <div class="ptable-single">
              <div class="ptable-header">
                <div class="ptable-status black">
                  <span><i class="fa fa-phone"></i></span>
                </div>
                <div class="ptable-title">
                  <h2>45 دقیقه</h2>
                </div>
                <div class="ptable-price">
                  <h2><span>90,000 تومان</span></h2>
                </div>
              </div>
              <div class="ptable-body">
                <div class="ptable-description">
                  <ul>
                    <li>
                      زمان مکالمه تا 45 دقیقه
                    </li>
                    <li>
                      ارائه مشاوره توسط متخصصین مجرب
                    </li>
                    <li>
                      بازگشت هزینه مشاوره در صورت انعقاد قرارداد با وکیل
                    </li>
                  </ul>
                </div>
              </div>
              <div class="ptable-footer">
                <div class="ptable-action">
                  <a href="">رزرو وقت</a>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
<app-footer></app-footer>
