<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right order-last">
        <h2 class="section-title">آخرین اخبار</h2>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-4 text-center pt-3">
        <mat-card class="white">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
               alt="Photo of a Shiba Inu">
          <mat-card-content class="justify-centent-end">
            <h2>title</h2>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary">Continue reading</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-4 text-center pt-3">
        <mat-card class="white">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
               alt="Photo of a Shiba Inu">
          <mat-card-content class="justify-centent-end">
            <h2>title</h2>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary">Continue reading</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-4 text-center pt-3">
        <mat-card class="white">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
               alt="Photo of a Shiba Inu">
          <mat-card-content class="justify-centent-end">
            <h2>title</h2>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary">Continue reading</button>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>
  </div>
</section>
