<div class="container-fluid banner-area rtl pt-70">
  <div class="container">
    <div class="row justify-content-center banner-box">
      <div class="col-sm-12 col-md-6 align-self-center text-white text-right desc">
        <h1>وكلای ما همیشه خدمات عالی ارائه می دهند</h1>
        <p>
          تیم های وکلای هوشمند و حرفه ای ما همیشه آماده هستند تا شما را به پیروزی برساند.
        </p>
        <p>
          ما همیشه تمام تلاش خود را می کنیم تا مشتریان خود را خوشحال کنیم.
        </p>
        <a mat-raised-button class="text-center middle-icon border-btn"> مشاوره رایگان<mat-icon>keyboard_arrow_left</mat-icon></a>
      </div>
      <div class="col-sm-12 col-md-6 align-self-center text-center">
        <img src="assets/images/home/1.png" class="img-fluid w-100" style="max-height:600px;">
      </div>

    </div>
  </div>
</div>
<div class="container-fluid parent-div">
  <div class="container parent">
    <div class="row justify-content-center overlay h-100">
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 align-self-center">
        <div class="counter-item">
          <mat-icon>done</mat-icon>
          <div class="counter-inner text-center">

            <h3 class="counter">99%</h3>
            <p>پرونده برنده</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 align-self-center">
        <div class="counter-item">
          <mat-icon>account_balance</mat-icon>
          <div class="counter-inner text-center">
            <h3 class="counter">100%</h3>
            <p>مسیر قانونی</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 align-self-center">
        <div class="counter-item">
          <mat-icon>people</mat-icon>
          <div class="counter-inner text-center">
            <h3 class="counter">+10,000</h3>
            <p>موکل راضی</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 align-self-center">
        <div class="counter-item">
          <mat-icon>person</mat-icon>
          <div class="counter-inner text-center">
            <h3 class="counter">18</h3>
            <p>وکیل</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
