<aside class="right-sidebar rtl text-right" id="panel-menu">
    <div class="user-profile">
      <div class="profile-img">
        <img src="assets/images/shared/admin.png">
      </div>
      <div class="profile-text">
        <h5></h5>
        <a data-toggle="tooltip" title="" data-original-title="تنظیمات"><i class="fa fa-cog"></i></a>
        <a data-toggle="tooltip" title="" data-original-title="خروج"><i class="fa fa-sign-out-alt"></i></a>
      </div>
    </div>
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-devider"></li>
        <li class="nav-small-cap">مدیریت</li>

        <li class="" routerLink="/admin/dashboard">
          <a>
            <i class="fa fa-home fa-sm"></i><span class="hide-menu"> داشبورد </span>
          </a>
        </li>

        <li class="" routerLink="/admin/user">
          <a>
            <i class="fa fa-users fa-sm"></i><span class="hide-menu"> کاربران </span>
          </a>
        </li>

<!--        <li class="">-->
<!--          <a class="has-arrow" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">-->
<!--            <i class="fa fa-users fa-sm"></i><span class="hide-menu"> کاربران </span>-->
<!--          </a>-->
<!--          <ul class="collapse" id="collapseExample">-->
<!--            <li><a href="/Admin/User/Index">لیست کاربران</a></li>-->
<!--            <li><a href="/Admin/User/Add">ثبت کاربر</a></li>-->
<!--          </ul>-->
<!--        </li>-->
      </ul>
    </nav>
</aside>
