<div class="container-fluid help-area pb-100">
    <div class="row align-items-center pt-100">
      <div class="col-sm-12 col-lg-6">
        <div class="help-item help-left">
          <img src="assets/images/home/5.jpg" alt="Help">
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="help-item">
          <div class="help-right text-right">
            <h2>ما از کمک کردن به شما خوشحال می شویم</h2>
            <p class="rtl">
              ما به عنوان یک شرکت حقوقی حرفه ای برای دستیابی به پیروزی مشتری خود مجاز هستیم. و برای مقابله با اوقات بد شما ، این وکلای تبحر همیشه با دلسوزی ، صداقت و احترام در خدمت شما خواهند بود. مهمترین انگیزه ما، پیروزی شماست.
            </p>

            <div class="help-inner-left">
              <ul>
                <li>
                  سایت ما را بررسی کنید<mat-icon>done</mat-icon>
                </li>
                <li >
                  خدمت را انتخاب کنید<mat-icon>done</mat-icon>
                </li>
              </ul>
            </div>
            <div class="help-inner-right">
              <ul >
                <li >
                  پاسخگویی سریع<mat-icon>done</mat-icon>
                </li>
                <li >
                  بهترین عملکرد<mat-icon>done</mat-icon>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center help-wrap pt-5">
      <div class="col-lg-6">
        <div class="help-item">
          <div class="help-right text-right">
            <h2 >ما نگران حقوق شما هستیم</h2>
            <p class="rtl">
              کل تیم موسسه حقوقی Lyzo با یک ذهنیت مثبت از همه مشتریان خود پشتیبانی می کند. تیم همیشه از شما کیفیت بالا پشتیبانی می کند تا از پیروزی شما اطمینان حاصل کند.
            </p>
            <div class="help-inner-left">
              <ul >
                <li >
                  وپاسخگویی آنلاین<mat-icon>done</mat-icon>
                </li>
                <li >
                  مسیر قانونی<mat-icon>done</mat-icon>
                </li>
              </ul>
            </div>
            <div class="help-inner-right">
              <ul>
                <li class="">
                  خدمات حقوقی<mat-icon>done</mat-icon>
                </li>
                <li>
                  کار صادقانه<mat-icon>done</mat-icon>
                </li>
              </ul>
            </div>
            <a class="btn border-btn my-4">مطالعه بیشتر</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="help-item help-left">
          <img src="assets/images/home/6.jpg" alt="Help">
        </div>
      </div>
    </div>
</div>

