<div class="container-fluid help-area pb-100">
    <div class="row align-items-center">
      <div class="col-sm-12 col-lg-6">
        <div class="help-item help-left">
          <img src="assets/images/home/5.jpg" alt="Help">
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="help-item">
          <div class="help-right text-right">
            <h2>مهمترین انگیزه ما، پیروزی شماست</h2>
            <p class="rtl">
              تیم موسسه حقوقی 'وکیل شما' با یک ذهنیت مثبت از همه مشتریان خود پشتیبانی می کند تا از پیروزی شما اطمینان حاصل کند.
            </p>
            <div class="help-inner-left">
              <ul>
                <li>
                  بهترین عملکرد<mat-icon>done</mat-icon>
                </li>
                <li >
                  مشاوره غیر حضوری<mat-icon>done</mat-icon>
                </li>
              </ul>
            </div>
            <div class="help-inner-right">
              <ul >
                <li >
                  پاسخگویی سریع<mat-icon>done</mat-icon>
                </li>
                <li >
                  مسیر قانونی<mat-icon>done</mat-icon>
                </li>
              </ul>
            </div>
            <a class="btn border-btn my-4" routerLink="/about">مطالعه بیشتر</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center help-wrap pt-5">
      <div class="col-lg-6">
        <div class="help-item">
          <div class="help-right text-right">
            <h2>با 'بانک قوانین' ما، قانون در دستان شماست</h2>
            <p class="rtl">
              'وکیل شما' همواره بانکی کامل و جدید از قوانین به تصویب رسیده را در اختیار شما مشتریان، مشاوران حقوقی و وکلای عزیز قرار می دهد.
            </p>
            <div class="help-inner-left">
              <ul >
                <li >
                  قوانین دسته بندی شده<mat-icon>done</mat-icon>
                </li>
              </ul>
            </div>
            <div class="help-inner-right">
              <ul>
                <li >
                  قوانین به روز<mat-icon>done</mat-icon>
                </li>
              </ul>
            </div>
            <a class="btn border-btn my-4" routerLink="/law-category">مطالعه بیشتر</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="help-item help-left">
          <img src="assets/images/shared/law.jpg" alt="Help">
        </div>
      </div>
    </div>
</div>

