<!-- start offer -->
<section class="section-padding section-grey">
  <div class="container">
    <div class="row pb-4">
      <div class="col-md-12 text-right order-last">
        <h2 class="section-title">درباره ما</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <div class="offer-pic">
          <img src="assets/images/55.jpg" alt>
        </div>
      </div>
      <div class=" col-sm-12 col-md-5 rtl text-right">
        <span class="offer-text pt-5">
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
            است. چاپگرها و متون بلکه روزنامه و مجله </p>
          <p>در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با
            هدف بهبود ابزارهای کاربردی می باشد. </p>
          <button mat-raised-button color="primary" class="mt-3">بیشتر بدانید</button>
        </span>
      </div>

    </div> <!-- end row -->
  </div> <!-- end container -->
</section>
<!-- end offer -->
