.offer-pic {
  padding: 40px 0 0 45px;
  position: relative;
}


@media (max-width: 991px) {
  .offer-pic {
    display: none;
  }
}
.offer-pic::after {
  display: inline-block;
  content: "";
  width: 465px;
  height: 465px;
  border: 2px solid #037160;
  position: absolute;
  right: 150px;
  top: -22px;
}
.offer-pic img {
  position: relative;
  z-index: 2;
}

