<footer>
  <div class="container rtl">
    <div class="row">
      <div class="col col-2">
          <div class="footer-logo">
            <a routerLink="/"><img src="assets/images/shared/logoWhite.png" alt=""></a>
          </div>
      </div>
      <div class="col col-10">
        <div class="footer-about">
          <p>
            وکلای مدافع ما همیشه در اینجا هستند تا بهترین و کارآمدترین خدمات را به شما ارائه دهند.
            هنوز هم ، اگر می خواهید درباره ما و شرکت ما بیشتر بدانید ، می توانید از طریق رسانه های اجتماعی با ما ارتباط برقرار کنید.
          </p>
          <ul>
            <li>
              <a href="https://www.youtube.com/" target="_blank" class="">
                <mat-icon>facebook</mat-icon>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/" target="_blank" class="">
                <mat-icon>facebook</mat-icon>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank" class="">
                <mat-icon>facebook</mat-icon>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com/" target="_blank" class="">
                <mat-icon>facebook</mat-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row rtl">
      <div class="col-sm-12 col-lg-6">
        <div class="footer-item">
          <div class="footer-find">
            <h3>راه های ارتباطی</h3>
            <ul>
              <li>
                <mat-icon>location_on</mat-icon>
                تهران، نیاوران، خیابان باهنر، بعد از چهارراه کامرانیه، پلاک 127، طبقه 4، واحد 5
              </li>
              <li style="direction: ltr">
                <a href="tel:+982126156619" class=""> +21 26156619 </a>
                <mat-icon>phone</mat-icon>
              </li>
              <li>
                <mat-icon>email</mat-icon>
                <a href="mailto:info@arkainvent.com" class=""> info@arkainvent.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-3">
        <div class="footer-item">
          <div class="footer-service">
            <h3>خدمات</h3>
            <ul>
              <li>
                <mat-icon>keyboard_arrow_left</mat-icon>
                <a routerlink="/practice-details" href="/practice-details" class="">
                  قانون خانواده
                </a>
              </li>
              <li>
                <mat-icon>keyboard_arrow_left</mat-icon>
                <a routerlink="/practice-details" href="/practice-details" class="">
                  قانون تحصیلی
                </a>
              </li>
              <li>
                <mat-icon>keyboard_arrow_left</mat-icon>
                <a routerlink="/practice-details" href="/practice-details" class="">
                  قانون مدنی
                </a>
              </li>
              <li>
                <mat-icon>keyboard_arrow_left</mat-icon>
                <a routerlink="/practice-details" href="/practice-details" class="">
                  قانون کیفری
                </a>
              </li>
              <li>
                <mat-icon>keyboard_arrow_left</mat-icon>
                <a routerlink="/practice-details" href="/practice-details" class="">
                  قانون تجاری
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-3">
        <div class="footer-item">
          <div class="footer-service">
            <h3>دسترسی سریع</h3>
            <ul>
              <li>
                <mat-icon>keyboard_arrow_left</mat-icon>
                <a routerLink="">
                  صفحه اصلی
                </a>
              </li>
              <li>
                <mat-icon>keyboard_arrow_left</mat-icon>
                <a routerLink='about'>
                  درباره ما
                </a>
              </li>
              <li>
                <mat-icon>keyboard_arrow_left</mat-icon>
                <a routerLink="blog">
                  اخبار
                </a>
              </li>
              <li>
                <mat-icon>keyboard_arrow_left</mat-icon>
                <a routerLink='attorney'>
                  تیم وکلا
                </a>
              </li>
              <li>
                <mat-icon>keyboard_arrow_left</mat-icon>
                <a routerLink='contact'>
                  تماس با ما
                </a>
              </li>
              <li>
                <mat-icon>keyboard_arrow_left</mat-icon>
                <a routerLink='faq'>
                  سوالات متداول
                </a>
              </li>
              <li>
                <mat-icon>keyboard_arrow_left</mat-icon>
                <a routerLink='consultation'>
                  مشاوره رایگان
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row rtl">
      <div class="col-12 store align-self-center">
        <p>اپ 'وکیل شما' را از طریق یکی از لینک های زیر دریافت کنید.</p>
      </div>
    </div>
    <div class="row pb-3 new-buttons justify-content-center">
      <a>
        <img src="assets/images/shared/play-store.svg" width="190" height="56" alt="Download on the App Store" border="0">
      </a>
      <a>
        <img src="assets/images/shared/cafe-bazar.png" width="190" height="56" alt="Download on the App Store" border="0">
      </a>
      <a>
        <img src="assets/images/shared/app-store.svg" width="190" height="56" alt="Download on the App Store" border="0">
      </a>
      <a>
        <img src="assets/images/shared/sib-app.png" width="190" height="56" alt="Download on the App Store" border="0">
      </a>
    </div>
    <div class="row copyright-area">
        <div class="col-12">
          <div class="copyright-item">
            <p class="text-center">
              Copyright @2020 <strong>Lawyer</strong>. Designed &amp; Developed by
              <a href="http://arkainvent.com/" target="_blank" class=""> Arka</a>
            </p>
            <p class="text-center pt-3">
              <a routerlink="/terms-conditions" target="_blank" href="/terms-conditions" class="">
                Terms &amp; Conditions</a><span>-</span><a routerlink="/privacy-policy" target="_blank" href="/privacy-policy" class="">Privacy Policy
              </a>
            </p>
          </div>
        </div>
    </div>

  </div>
</footer>
