
<footer class="footer">
    <div class="container">
      <div class="row rtl text-right">
        <div class="col-2">logo</div>
        <div class="col-10"> desc </div>
      </div>
      <mat-divider class="mt-3 mb-3"></mat-divider>
      <div class="row rtl text-right">

        <div class="col-sm-6 col-md-4">
            <h3>اطلاعات تماس</h3>
            <ul>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-4">
            <h3>خدمات</h3>
            <ul>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-4">
            <h3>دسترسی سریع</h3>
            <ul>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>
        </div>
      </div>
      <mat-divider class="mt-3 mb-3"></mat-divider>
      <div class="row">
        <div class="col-12 text-center"><p>&copy; 2020, All rights reserved.</p><p> Design & developed by <a href="">Arka</a> team.</p></div>
      </div>
    </div>

</footer>

