a{
  text-decoration: none;
  color: #fff;
}
ul{
  padding-right: 0px;
}
ul li{
  list-style: none;
}
ul li mat-icon{
  font-size: 14px;
  line-height: 25px;
}
footer {
  position: relative;
  color: #fff;
  background-image: url(../../../../assets/images/shared/footer.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  text-align: right;
  padding-top: 50px;
}
footer:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #1c1d1e;
  opacity: .99;
}
footer .footer-about {
  margin-bottom: 50px;
}
footer .footer-logo a {
  display: block;
}
footer .footer-logo a img {
  width: 100px;
}
footer .footer-about ul {
  margin: 0;
  padding: 0;
  list-style: none;
}footer .footer-about ul li {
   list-style-type: none;
   display: inline-block;
   margin-bottom: 20px;
 }
footer .footer-about ul li a {
  font-size: 20px;
  color: #fff;
}
.footer-about ul li a mat-icon{
  font-size: 20px;
  line-height: 20px;
}
@media only screen and (max-width: 1199px) and (min-width: 992px){
  footer .footer-item .footer-find ul li, footer .footer-item .footer-logo p, footer .footer-item .footer-service ul li a {
    font-size: 14px;
  }
}

footer .footer-item h3 {
  margin-bottom: 30px;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  display: inline-block;
  border-bottom: 2px solid #037160;
}
footer .store {
  padding-top: 30px;
  padding-bottom: 10px;
  margin-top: 20px;
  border-top: 1px solid #565655;
  position: relative;
}

@media only screen and (max-width: 767px){
  footer .copyright-area {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    text-align: center;
  }
}

mat-icon:focus, button:focus, a:focus{
  outline: none;
  border: none;
}
.new-buttons a{
  margin-left: 3px;
  margin-right: 3px;
  z-index: 1;
}
@media only screen and (max-width: 767px) {
  .new-buttons a{
    margin-bottom: 6px;
  }
}

footer .copyright-area {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  border-top: 1px solid #565655;
  position: relative;
  direction: ltr;
}
footer .copyright-area .copyright-item p {
  margin-bottom: 0;
}
footer .copyright-area .copyright-item a {
  color: #fff;
  display: inline-block;
}
footer .copyright-area .copyright-right {
  text-align: right;
}
footer .copyright-area .copyright-item span {
  display: inline-block;
  margin: 0 10px;
}
