<h4 class="rtl text-right my-2">انتساب به وکیل/مشاور</h4>
<div mat-dialog-content class="my-4 rtl">
  <form [formGroup]="form" class="mt-5">
    <div class="row">
      <div class="col-12">

        <mat-form-field appearance="legacy">
          <mat-label>جستجو</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <div>
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef> انتخاب </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            color="primary"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> کد </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> نام و نام خانوادگی </th>
            <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> وکیل/مشاور </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> دسته بندی </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)">
          </tr>
        </table>
        <mat-paginator class="mt-5" showFirstLastButtons [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
      </div>
      </div>
      <div class="col-sm-12 col-lg-12 mt-3">
        <div class="form-group">
          <label>تاریخ و ساعت مراجعه</label>
          <dp-date-picker
            drops="down"
            theme="dp-material"
            dir="rtl"
            mode="daytime"
            minDate="1399-07-14"
            placeholder="تاریخ"
            theme="dp-material">
          </dp-date-picker>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions class="my-2">
  <button mat-button (click)="onDismiss()">لغو</button>
  <button mat-button (click)="onConfirm()" cdkFocusInitial
>ثبت</button>
</div>
