<section class="home-demo">
<owl-carousel-o [options]="customOptions">
  <ng-container>
    <ng-template carouselSlide>

      <img src="assets/images/slider/2.jpg" title="title">
        <div class="caption">
          <h2 class="header">Discover New Things</h2>
          <p class="desc">
            A small river named Duden flows by their place and supplies it with the necessary regelialia.
            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
            <br>
            <a href="#" class="btn btn-info">Learn More</a>
          </p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <img src="assets/images/slider/2.jpg" title="title">
    </ng-template>
    <ng-template carouselSlide>
      <img src="assets/images/slider/2.jpg" title="title">
    </ng-template>
    <ng-template carouselSlide>
      <img src="assets/images/slider/2.jpg" title="title">
    </ng-template>
  </ng-container>
</owl-carousel-o>
</section>
