.caption{
  position: absolute;
  top: 5%;
  padding: 8%;
  z-index: 9;
  color:#fff;
  font-weight: bold;
  direction: rtl;
  text-align: right;
}

h2.header{
  font-size: 70px;
}
p.desc{
  padding-top:100px;
  font-size: 30px;
}
