<app-header></app-header>
<div class="container-fluid page-title-area title-img">
  <div class="row justify-content-center">
    <div class="col-12 align-self-center">
      <div class="page-title-text">
        <h2>تماس با ما</h2>
        <ul>
          <li>تماس با ما</li>
          <li>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </li>
          <li>
            <a routerLink="/" class="">صفحه اصلی</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="contact-form pb-100">
  <div class="location-area">
    <div class="container">
      <div class="row location-bg rtl">
        <div class="col-sm-6 col-lg-4">
          <div class="location-item row rtl justify-content-center">
            <div class="col-3 align-self-center">
              <div class="location-icon">
                <mat-icon>pin_drop</mat-icon>
              </div>
            </div>
            <div class="col-9 align-self-center">
            <h3>آدرس</h3>
            <ul>
              <li class="font-small">تهران، نیاوران، خیابان باهنر، بعد از چهارراه کامرانیه، پلاک 127، طبقه 4، واحد 5</li>
            </ul>
          </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="location-item row rtl justify-content-center">
            <div class="col-3 align-self-center">
              <div class="location-icon">
                <mat-icon>phone</mat-icon>
              </div>
            </div>
            <div class="col-9 align-self-center">
              <h3>تلفن</h3>
              <ul>
                <li class="ltr">
                  <a href="tel:++982126156619" class="">+21 26156619</a>
                </li>
                <li class="ltr">
                  <a href="tel:+982126156619" class="">+21 26156619</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
          <div class="location-item row rtl justify-content-center">
            <div class="col-3 align-self-center">
              <div class="location-icon">
                <mat-icon>email</mat-icon>
              </div>
            </div>
            <div class="col-9 align-self-center">
              <h3>ایمیل</h3>
              <ul>
                <li>
                  <a href="mailto:info@arkainvent.com" class="">info@arkainvent.com</a>
                </li>
                <li>
                  <a href="mailto:info@arkainvent.com" class="">info@arkainvent.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid rtl">
    <form [formGroup]='form' (ngSubmit)="saveRequest()" class="w-100">
      <div class="row contact-wrap">
        <h2 class="text-right mb-5">برای مشاوره، لطفا فرم زیر را تکمیل و ثبت نمایید. مشاوران ما در اسرع وقت با شما تماس می گیرند.</h2>

        <div class="col-sm-6 col-lg-6">
          <div class="form-group">
            <input type="text" formControlName="name" name="name"
                   placeholder="نام" class="form-control"
                   maxlength="100">
            <ul class="mt-1 mb-0 pb-0" *ngFor="let error of errorMessages.name">
              <li class="font-small text-danger font-weight-bold"
                  *ngIf="form.get('name').hasError(error.type)
                            && (form.get('name').dirty
                            || form.get('name').touched)">
                {{ error.message }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6">
          <div class="form-group">
            <input type="text" formControlName="email" name="email"
                   placeholder="پست الکترونیکی" class="form-control"
                   maxlength="200">
            <ul class="mt-1 mb-0 pb-0" *ngFor="let error of errorMessages.email">
              <li class="font-small text-danger font-weight-bold"
                  *ngIf="form.get('email').hasError(error.type)
                            && (form.get('email').dirty
                            || form.get('email').touched)">
                {{ error.message }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6">
          <div class="form-group">
            <input  type="text" formControlName="mobile" name="mobile" placeholder="شماره موبایل" class="form-control"
                    minlength="11" maxlength="11"
                    [pattern]="mobileRegix">
            <ul class="mt-1" *ngFor="let error of errorMessages.mobile">
              <li class="font-small text-danger font-weight-bold"
                  *ngIf="form.get('mobile').hasError(error.type)
                            && (form.get('mobile').dirty
                            || form.get('mobile').touched)">
                {{ error.message }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6">
          <div class="form-group">
            <input type="text" formControlName="subject" name="subject"
                   placeholder="موضوع" class="form-control"
                   maxlength="200">
            <ul class="mt-1 mb-0 pb-0" *ngFor="let error of errorMessages.subject">
              <li class="font-small text-danger font-weight-bold"
                  *ngIf="form.get('subject').hasError(error.type)
                            && (form.get('subject').dirty
                            || form.get('subject').touched)">
                {{ error.message }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
          <textarea name="description" formControlName="description"
                    cols="30" rows="8" placeholder="توضیحات"
                    class="form-control" maxlength="500"></textarea>

          <ul class="mt-1 mb-0 pb-0" *ngFor="let error of errorMessages.description">
            <li class="font-small text-danger font-weight-bold"
                *ngIf="form.get('description').hasError(error.type)
                            && (form.get('description').dirty
                            || form.get('description').touched)">
              {{ error.message }}
            </li>
          </ul>

        </div>
        </div>
        <div class="col-sm-12 col-lg-12 text-center">
          <div class="form-group">
            <ngx-recaptcha2 #captchaElem siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
                            (success)="handleSuccess($event)"
                            size="normal"
                            hl="en"
                            theme="light"
                            type="'image' | 'audio'"
                            formControlName="recaptcha">
            </ngx-recaptcha2>

            <ul class="mt-1 mb-0 pb-0 text-center" *ngIf="captchaError">
              <li class="font-small text-danger font-weight-bold">
                فیلد اعتبارسنجی (کپچا) اجباری است.
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="text-center">
            <button mat-raised-button type="submit" class="btn green-btn" [disabled]="form.invalid">ثبت درخواست مشاوره</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="map-area">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d808.8793336975418!2d51.46346562922195!3d35.811780898760276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e05986a51f4e1%3A0x32c5a62b1b1710af!2sTehran%20Province%2C%20Tehran%2C%20Bahonar%20St%2C%20Iran!5e0!3m2!1sen!2s!4v1599279797824!5m2!1sen!2s"></iframe>
</div>
<app-footer></app-footer>
