<section class="expertise-area">
  <div class="container">
    <div class="row align-items-center rtl">
      <div class="col-lg-6">
        <div class="section-title text-left">
          <span>تجربیات ما</span>
          <h2>موسسه حقوقی اختصاص داده شده به مشتریان ما</h2>
        </div>
        <div class="expertise-item">
          <ul>
            <li data-wow-delay=".3s" class="wow fadeInUp">
              <div class="row justify-content-center">
                <div class="col-2 align-self-center">
                  <mat-icon>done</mat-icon>
                </div>
                <div class="col-10 align-self-center">
                  <h3>تجربه</h3>
                  <p class="rtl">
                    تیم های Lyzo فوق العاده ماهر هستند ، شرایط مشتری خود را تأیید می کنند و به آنها کمک می کنند تا به هدف خود برسند.
                  </p>
                </div>
              </div>
            </li>
            <li data-wow-delay=".4s" class="wow fadeInUp">
              <div class="row justify-content-center">
                <div class="col-2 align-self-center">
                  <mat-icon>school</mat-icon>
                </div>
                <div class="col-10 align-self-center">
                  <h3 >وکیل ماهر</h3>
                  <p class="rtl">
                    وکلای ما نوآور و آگاه هستند و به مشتریان کمک می کنند تا تعداد زیادی راه حل را برای موفقیت دنبال کنند.
                  </p>

                </div>
              </div>
            </li>
            <li data-wow-delay=".5s" class="wow fadeInUp">
              <div class="row justify-content-center">
                <div class="col-2 align-self-center">
                  <mat-icon>account_balance</mat-icon>
                </div>
                <div class="col-10 align-self-center">
                  <h3>مراحل قانونی</h3>
                  <p class="rtl">
                    ما تمام مقالات و مدارک معتبر را حفظ می کنیم و به طور قانونی به نتیجه می رسیم.
                  </p>

                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="expertise-image">
          <img src="assets/images/home/10.png" alt="Expertise">
        </div>
      </div>
    </div>
  </div>
</section>
