<div class="container-fluid login-bg">
  <div class="layer"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-lg-4 login-area">
        <div class="row logo-area justify-content-center">
          <div class="col-12 text-center align-self-center">
            <a routerLink="/">
              <img src="../../../../assets/images/shared/logo-small.png" alt="Logo" class="img-fluid">
            </a>
            <p class="pt-3">برای تغییر رمز عبور خود، فرم زیر را تکمیل نمایید.</p>
          </div>
        </div>

        <div class="row login-wrap rtl">
          <div class="col-12 text-center">
            <div class="form-group">
              <input type="text" name="name" id="username" placeholder="شماره موبایل" class="form-control">
            </div>
          </div>
          <div class="col-md-12 col-lg-12 pt-70">
            <div class="text-center">
              <button type="submit" class="btn btn-block login-btn">ارسال</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
