<div class="container-fluid login-bg">
  <div class="layer"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-lg-4 login-area">
        <div class="row logo-area justify-content-center">
          <div class="col-12 text-center align-self-center">
            <a routerLink="/">
              <img src="../../../../assets/images/shared/logo-small.png" alt="Logo" class="img-fluid">
            </a>
            <p class="pt-3">برای تغییر رمز عبور خود، فرم زیر را تکمیل نمایید.</p>
          </div>
        </div>
        <form [formGroup]='form' (ngSubmit)="forgetPassword()" class="w-100">
          <div class="row login-wrap rtl">
            <div class="col-12 text-center">
              <div class="form-group">
                <input type="text" pKeyFilter="int" formControlName="mobile" name="mobile"
                       placeholder="شماره موبایل" class="form-control"
                       minlength="11" maxlength="11"
                       [pattern]="mobileRegix">
                <ul class="mt-1" *ngFor="let error of errorMessages.mobile">
                  <li class="font-small text-danger font-weight-bold"
                      *ngIf="form.get('mobile').hasError(error.type)
                              && (form.get('mobile').dirty
                              || form.get('mobile').touched)">
                    {{ error.message }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-12 col-lg-12 pt-70">
              <div class="text-center">
                <button mat-raised-button type="submit" class="btn btn-block green-btn"
                        [disabled]="form.invalid">ارسال</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
