<nav class="navbar navbar-expand" id="panel-navbar">
  <button class="btn btn-link btn-sm order-12" (click)="toggleRightMenu()" ><i class="fas fa-bars"></i></button>

  <!-- Navbar-->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#">داشبورد</a>
        <a class="dropdown-item" href="#">پروفایل کاربری</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="login.html">خروج</a>
      </div>
    </li>
  </ul>
</nav>
