<app-admin-header></app-admin-header>
<app-admin-menu></app-admin-menu>

<div class="content rtl">

  <div class="content-inner" id="main-content">
    <div class="content-wrapper">
      <div class="content-titleSection">
        <strong class="content-title">داشبورد</strong>
        <div class="breadcrumb">
<!--          <a href="#" class="breadcrumb-link">داشبورد</a>-->
<!--          <span class="breadcrumb-separator"><i class="fa fa "></span>-->
<!--          <a href="#" class="breadcrumb-link">Bread 2</a>-->
<!--          <span class="breadcrumb-separator">.</span>-->
          <a href="#" class="breadcrumb-link">داشبورد</a>
        </div>
      </div>
      <div class="content-box">
        <div class="content-inner-box">
          Lorem ipsum donec sidenuc
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
</div>
<app-panel-footer></app-panel-footer>
