.content {
  width: 100%;
  position: relative;
  text-align: right;
}

.content .content-inner {
  padding: 20px 260px 0 0px;
}

.content .content-wrapper {
  padding: 40px;
}

.content .content-box {
  background-color: #ffffff;
  border-bottom: 1px solid #e4e5e6;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.1);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.content .content-title {
  font-size: 24px;
  line-height: 28px;
  color: #037160;
  font-weight: 300;
  margin-bottom: 15px;
  display: block;
}

.content .content-titleSection {
  margin-bottom: 15px;
}

.content .breadcrumb-link {
  color: #929394;
  display: inline-block;
  font-size: 14px;
}

.content .breadcrumb {
  margin-bottom: 30px;
}
.content .breadcrumb-separator {
  display: inline-block;
}
.content .content-inner-box {
  padding: 20px 20px 100px 20px;
}

@media screen and (max-width: 768px) {
  .content .content-inner {
    padding-right: 0 !important;
  }
  .content .content-wrapper {
    padding: 20px 10px;
  }

}
