<footer class="py-4 bg-light panel-footer" id="panel-footer">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center small">
      <div class="col-6 align-items-center text-left">
          Copyright @2020 Lawyer. Designed & Developed by <a href="http://arkainvent.com/">Arka</a>
      </div>
      <div class="col-6 align-items-center text-right">
        <a routerLink="">وکیل شما</a>
        &nbsp;<i class="fa fa-circle small-dot"></i>&nbsp;
        <a routerLink="/consultation">مشاوره</a>
        &nbsp;<i class="fa fa-circle small-dot"></i>&nbsp;
        <a routerLink="/contact">تماس با ما</a>
      </div>
    </div>
  </div>
</footer>
