<aside class="right-sidebar rtl text-right" id="panel-menu">
  <div class="user-profile">
    <div class="profile-img">
      <img src="assets/images/shared/admin.png">
    </div>
    <div class="profile-text">
      <h5></h5>
      <a data-toggle="tooltip" title="" data-original-title="تنظیمات"><i class="fa fa-cog"></i></a>
      <a data-toggle="tooltip" title="" data-original-title="خروج"><i class="fa fa-sign-out-alt"></i></a>
    </div>
  </div>
  <nav class="sidebar-nav">
    <ul id="sidebarnav">
      <li class="nav-devider"></li>

      <li class="nav-small-cap">اصلی</li>
      <li class="" routerLink="/user/dashboard">
        <a>
          <i class="fa fa-home fa-sm"></i><span class="hide-menu"> داشبورد </span>
        </a>
      </li>

      <li class="" routerLink="/user/profile">
        <a>
          <i class="fa fa-user fa-sm"></i><span class="hide-menu"> پروفایل کاربری </span>
        </a>
      </li>

      <li class="" routerLink="/user/online-request">
        <a>
          <i class="fas fa-comment fa-sm"></i><span class="hide-menu"> مشاوره های آنلاین </span>
        </a>
      </li>
      <li class="" routerLink="/user/tel-request">
        <a>
          <i class="fa fa-phone fa-sm"></i><span class="hide-menu"> مشاوره های تلفنی </span>
        </a>
      </li>
      <li class="" routerLink="/user/in-person-request">
        <a>
          <i class="fa fa-balance-scale fa-sm"></i><span class="hide-menu"> مشاوره های حضوری </span>
        </a>
      </li>


    </ul>
  </nav>
</aside>
