<div class="container-fluid login-bg">
  <div class="layer"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-lg-4 login-area">
        <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="attorney-tab" data-toggle="tab" href="#attorney" role="tab" aria-controls="attorney" aria-selected="false">کاربر حقوقی</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="true">کاربر عادی</a>
          </li>
        </ul>
        <div class="tab-content" id="loginTab">
          <div class="tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="user-tab">
            <div class="row logo-area justify-content-center">
              <div class="col-12 text-center align-self-center">
                <a routerLink="/">
                  <p class="brand">وکیل شما</p>
                </a>
              </div>
            </div>
            <div class="row login-wrap rtl">
              <div class="col-12 text-center">
                <div class="form-group">
                  <input type="text" name="name" id="username" placeholder="نام کاربری" class="form-control">
                </div>
              </div>
              <div class="col-12 text-center">
                <div class="form-group">
                  <input type="text" name="name" id="password" placeholder="رمز عبور" class="form-control">
                </div>
              </div>
              <div class="col-12 text-center">
                <div class="form-group mb-3">
                  <input type="text" name="name" id="re-password" placeholder="تکرار رمز عبور" class="form-control">
                </div>
              </div>
              <div class="col-md-12 col-lg-12 pt-30">
                <div class="text-center">
                  <button type="submit" class="btn btn-block login-btn">ثبت نام</button>
                </div>
              </div>
              <div class="col-4 text-left mt-3">
              </div>
              <div class="col-8 text-left mt-3">
                <a routerLink="/login">قبلا ثبت نام کرده اید؟</a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="attorney" role="tabpanel" aria-labelledby="attorney-tab">
            <div class="row logo-area justify-content-center">
              <div class="col-12 text-center align-self-center">
                <a routerLink="/">
                  <p class="brand">وکیل شما</p>
                </a>
              </div>
            </div>
            <div class="row login-wrap rtl">
              <div class="col-12 text-center">
                <div class="form-group">
                  <input type="text" name="name" id="attorney-username" placeholder="نام کاربری" class="form-control">
                </div>
              </div>
              <div class="col-12 text-center">
                <div class="form-group">
                  <input type="text" name="name" id="attorney-password" placeholder="رمز عبور" class="form-control">
                </div>
              </div>
              <div class="col-12 text-center">
                <div class="form-group mb-3">
                  <input type="text" name="name" id="attorney-re-password" placeholder="تکرار رمز عبور" class="form-control">
                </div>
              </div>
              <div class="col-md-12 col-lg-12 pt-30">
                <div class="text-center">
                  <button type="submit" class="btn btn-block login-btn">ثبت نام</button>
                </div>
              </div>
              <div class="col-4 text-left mt-3">
              </div>
              <div class="col-8 text-left mt-3">
                <a routerLink="/login">قبلا ثبت نام کرده اید؟</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
