.c-dashboardInfo {
  margin-bottom: 15px;
}
.c-dashboardInfo .wrap {
  background: #ffffff;
  border:1px #037160 solid;
  border-radius: 7px;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 40px 25px 20px;
  height: 100%;
}
.c-dashboardInfo__title,
.c-dashboardInfo__subInfo {
  color: #6c6c6c;
  font-size: 1.18em;
}
.c-dashboardInfo span {
  display: block;
}
.c-dashboardInfo__count {
  font-weight: 600;
  font-size: 2.5em;
  line-height: 64px;
  color: #323c43;
}
.c-dashboardInfo .wrap:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: "";
}

.c-dashboardInfo .wrap:after {
  background: linear-gradient(69.83deg, #037160 0%, #ffffff 100%);
}

.MuiSvgIcon-root-19 {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
  flex-shrink: 0;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(43,43,43,.1), 0 11px 6px -7px rgba(43,43,43,.1);
  box-shadow: 0 0 5px 0 rgba(43,43,43,.1), 0 11px 6px -7px rgba(43,43,43,.1);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 20px;
  position: relative;
}
.card .card-header h5 {
  margin-bottom: 0;
  color: #333;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  margin-right: 10px;
  line-height: 1.1;
  position: relative;
}
.table-card .card-block {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table>thead>tr>th {
  border-bottom-color: #ccc;
}
.table thead th {
  border-bottom: 1px solid #d6dde1;
}
.table-card .card-block .table tr td:first-child, .table-card .card-block .table tr th:first-child {
  padding-left: 20px;
}
.table-card .card-block .table>thead>tr>th {
  border-top: 0;
}
.card .card-block table tr {
  padding-bottom: 20px;
}
.table-card .card-block .table tr td:first-child, .table-card .card-block .table tr th:first-child {
  padding-left: 20px;
}
.table td, .table th {
  padding: 1.25rem .75rem;
}
