<app-panel-header></app-panel-header>
<app-consultor-menu></app-consultor-menu>
<div class="content rtl">

  <div class="content-inner" id="main-content">
    <div class="content-wrapper">

      <div class="content-titleSection row justify-content-center">
        <div class="col-12 align-self-center">
          <strong class="content-title">پنل مشاور</strong>
        </div>
      </div>

      <div class="content-titleSection row justify-content-center">
        <div class="col-12 align-self-center">
          <div class="breadcrumb">
            <a routerLink="/consultor/dashboard" class="breadcrumb-link">داشبورد</a>
          </div>
        </div>
      </div>

      <div class="content-box">
        <div class="content-inner-box">
          <div class="row align-items-stretch">
            <div class="c-dashboardInfo col-lg-6 col-md-6">
              <div class="wrap">
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                  تعداد کل مشاوره های آنلاین
                  </h4>
                <span class="hind-font caption-12 c-dashboardInfo__count">68</span>
              </div>
            </div>
            <div class="c-dashboardInfo col-lg-6 col-md-6">
              <div class="wrap">
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                  تعداد مشاوره های آنلاین جدید
                </h4>
                <span class="hind-font caption-12 c-dashboardInfo__count">5</span>
              </div>
            </div>
          </div>

          <div class="row mt-4">

            <div class="col-md-12">
              <div class="card table-card">
                <div class="card-header">
                  <h5>مشاوره های حقوقی آنلاین</h5>
                </div>
                <div class="card-block">
                  <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                      <thead>
                      <tr>
                        <th>Subject</th>
                        <th>Regarding</th>
                        <th>Activity Type</th>
                        <th>Activity Status</th>
                        <th>Owner</th>
                        <th>Priority</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>Building Marketing List</td>
                        <td>Software pro</td>
                        <td>Task</td>
                        <td><label class="label label-danger">Open</label></td>
                        <td>Ken Malit</td>
                        <td>Normal</td>
                        <td>7/8/2017</td>
                        <td>8/9/2018</td>
                      </tr>
                      <tr>
                        <td>Project Task List</td>
                        <td>Software pro</td>
                        <td>Task</td>
                        <td><label class="label label-primary">New</label></td>
                        <td>Ken Malit</td>
                        <td>Normal</td>
                        <td>7/8/2017</td>
                        <td>8/9/2018</td>
                      </tr>
                      <tr>
                        <td>Building Marketing List</td>
                        <td>Software pro</td>
                        <td>Task</td>
                        <td><label class="label label-danger">Open</label></td>
                        <td>Ken Malit</td>
                        <td>Normal</td>
                        <td>7/8/2017</td>
                        <td>8/9/2018</td>
                      </tr>
                      <tr>
                        <td>Project Task List</td>
                        <td>Software pro</td>
                        <td>Task</td>
                        <td><label class="label label-success">Close</label></td>
                        <td>Ken Malit</td>
                        <td>Normal</td>
                        <td>7/8/2017</td>
                        <td>8/9/2018</td>
                      </tr>
                      <tr>
                        <td>Building Marketing List</td>
                        <td>Software pro</td>
                        <td>Task</td>
                        <td><label class="label label-primary">New</label></td>
                        <td>Ken Malit</td>
                        <td>Normal</td>
                        <td>7/8/2017</td>
                        <td>8/9/2018</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<app-panel-footer></app-panel-footer>
