.right-sidebar {
  top: 0;
  bottom:0;
  right: 0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  height: 100%;
  z-index: 100;
  background-color: #037160;
  width: 240px;
  padding-top: 60px;

  -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}

.right-sidebar::-webkit-scrollbar {
  width: 6px;
}

.right-sidebar::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.right-sidebar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 6px;
  background: #bfbfbf;
}

.scroll-sidebar {
  padding-bottom: 60px;
}
.user-profile {
  position: relative;
  background-size: cover;
}
.user-profile .profile-img {
  width: 70px;
  margin: 0 auto;
  padding: 10px 0 5px 0;
  border-radius: 100%;
}
.user-profile .profile-img img {
  width: 100%;
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 100%;
}
.user-profile .profile-text {
  padding: 5px 0px;
  position: relative;
  text-align: center;
}
.user-profile .profile-text > a {
  color: #ffffff;
  padding: 0 5px;
}
.user-profile .profile-text > a {
  color: #ffffff;
  padding: 0 5px;
}
.sidebar-nav {
  background: #037160;
  padding: 0px;
}
.sidebar-nav ul {
  margin: 0px;
  padding: 0px;
}
.sidebar-nav ul li.nav-devider {
  height: 1px;
  background: rgba(120, 130, 140, 0.13);
  display: block;
  margin: 20px 0;
}
.sidebar-nav ul li.nav-small-cap {
  font-size: 12px;
  margin-bottom: 0px;
  padding: 14px 14px 14px 20px;
  color: #ffffff;
  font-weight: 500;
}
.sidebar-nav > ul > li {
  margin-bottom: 5px;
}
.sidebar-nav .has-arrow {
  position: relative;
}
.sidebar-nav > ul > li > a {
  border-right: 3px solid transparent;
}
.sidebar-nav ul li a {
  color: #ffffff;
  padding: 8px 15px 8px 35px;
  display: block;
  font-size: 14px;
}
.sidebar-nav ul li:focus {
  outline: none;
}
.sidebar-nav > ul > li > a i {
  width: 27px;
  font-size: 19px;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
}
.sidebar-nav .has-arrow::after {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #ffffff;
  left: 1em;
  -webkit-transform: rotate(135deg) translate(0, -50%);
  -ms-transform: rotate(135deg) translate(0, -50%);
  -o-transform: rotate(135deg) translate(0, -50%);
  transform: rotate(135deg) translate(0, -50%);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  top: 53%;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.sidebar-nav ul li {
  list-style: none;
}
.sidebar-nav ul li ul li a {
  padding: 7px 35px 7px 15px;
}
.sidebar-nav ul li a {
  color: #ffffff;
  padding: 8px 15px 8px 35px;
  display: block;
  font-size: 14px;
}

.sidebar-nav ul li a:hover{
  cursor: pointer;
}
.sidebar-nav ul li a:focus{
  border: none;
}
@media screen and (max-width: 768px) {
  .right-sidebar{
    display: none;
  }
}
