<app-header></app-header>
<div class="container-fluid page-title-area title-img">
  <div class="row justify-content-center">
    <div class="col-12 align-self-center">
      <div class="page-title-text">
        <h2>سوالات متداول</h2>
        <ul>
          <li>سوالات متداول</li>
          <li>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </li>
          <li>
            <a routerLink="/" class="">صفحه اصلی</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<section class="faq-area pt-100 pb-100 rtl">
  <div class="container">
    <div class="row faq-wrap">
      <div class="col-lg-12">
        <div class="faq-head">
          <h2>قانون کیفری</h2>
        </div>
        <div class="faq-item">

          <mat-accordion>
            <mat-expansion-panel opened="true"
                                 closed="false"
                                 class="mat-elevation-z0"
                                 data-wow-delay=".3s" class="wow fadeInUp">              <mat-expansion-panel-header>
                <mat-panel-title>
                  قانون کیفری چیست؟
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, odit expedita eos molestiae ipsa totam quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quos mollitia voluptatum aliquam repellendus similique iure fuga aspernatur amet odit! At vitae dicta excepturi quasi? Veritatis, pariatur excepturi! Illum, ut?
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel opened="true"
                                 closed="false"
                                 class="mat-elevation-z0"
                                 data-wow-delay=".4s" class="wow fadeInUp">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  یک پرونده جنایی چه مدت طول می کشد؟
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, odit expedita eos molestiae ipsa totam quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quos mollitia voluptatum aliquam repellendus similique iure fuga aspernatur amet odit! At vitae dicta excepturi quasi? Veritatis, pariatur excepturi! Illum, ut?
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel opened="true"
                                 closed="false"
                                 class="mat-elevation-z0"
                                 data-wow-delay=".5s" class="wow fadeInUp">              <mat-expansion-panel-header>
                <mat-panel-title>
                  آیا فقط بر اساس اعتراف می توان متهم را محکوم کرد؟
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis modi ullam amet debitis libero veritatis enim repellat optio natus eum delectus deserunt, odit expedita eos molestiae ipsa totam quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quos mollitia voluptatum aliquam repellendus similique iure fuga aspernatur amet odit! At vitae dicta excepturi quasi? Veritatis, pariatur excepturi! Illum, ut?
              </p>
            </mat-expansion-panel>
          </mat-accordion>

        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
