<section class="app-area">
  <div class="container">
    <div class="row align-items-center rtl">
      <div class="col-lg-12">
        <div class="section-title text-left">
          <span>دانلود اپ</span>
          <h2>با دانلود اپ 'وکیل شما'، از امکانات بیشتری برخوردار شوید.</h2>
        </div>

<!--        <div class="row pb-100 downloadbtns social-btns">-->
<!--          <a class="app-btn downloadbtns" href="http:apple.com">-->
<!--            <i class="fab fa-android"></i>-->
<!--            <p>دانلود از <br/> <span class="big-txt">Play Store</span></p>-->
<!--          </a>-->
<!--          <a class="app-btn downloadbtns" href="http:apple.com">-->
<!--            <i class="fab fa-android"></i>-->
<!--            <p>دانلود از <br/> <span class="big-txt">کافه بازار</span></p>-->
<!--          </a>-->
<!--          <a class="app-btn downloadbtns" href="http:apple.com">-->
<!--            <i class="fab fa-apple"></i>-->
<!--            <p>دانلود از <br/> <span class="big-txt">App Store</span></p>-->
<!--          </a>-->
<!--          <a class="app-btn downloadbtns" href="http:apple.com">-->
<!--            <i class="fab fa-apple"></i>-->
<!--            <p>دانلود از <br/> <span class="big-txt">سیب اپ</span></p>-->
<!--          </a>-->
<!--        </div>-->


        <div class="row pb-100 new-buttons justify-content-center">
          <a>
            <img src="assets/images/shared/play-store.svg" width="190" height="56" alt="Download on the App Store" border="0">
          </a>
          <a>
            <img src="assets/images/shared/cafe-bazar.png" width="190" height="56" alt="Download on the App Store" border="0">
          </a>
          <a>
            <img src="assets/images/shared/app-store.svg" width="190" height="56" alt="Download on the App Store" border="0">
          </a>
          <a>
            <img src="assets/images/shared/sib-app.png" width="190" height="56" alt="Download on the App Store" border="0">
          </a>
        </div>
<!--        <div class="row pb-100 new-buttons justify-content-center">-->
<!--          <div class="col-sm-6 col-lg-3 align-items-center">-->
<!--            <a>-->
<!--              <img src="assets/images/shared/sib-app-btn.png">-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="col-sm-6 col-lg-3 align-items-center">-->
<!--            <a>-->
<!--              <img src="assets/images/shared/app-store-btn.png">-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="col-sm-6 col-lg-3 align-items-center">-->
<!--            <a>-->
<!--              <img src="assets/images/shared/google-play-btn.png">-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="col-sm-6 col-lg-3 align-items-center">-->
<!--            <a>-->
<!--              <img src="assets/images/shared/bazar-btn.png">-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</section>
