@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/IranSans/eot/IRANSansWeb_Light.eot') format('embedded-opentype');
}

/* line 3, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */

html, body { height: 100%; }
body {
    font-family: IRANSans;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
*{
    text-decoration: none;
}
.section-grey{
  background-color: #F8F9FA!important;
}
.section-padding{
    padding-top: 80px;
    padding-bottom: 80px;
}
.rtl{
    direction: rtl;
}

a:hover {
    color: #037160!important;
    text-decoration: none!important;
}

.mat-primary .mat-button:hover, .mat-icon-button.mat-primary:hover, .mat-stroked-button.mat-primary:hover {
    color: #037160!important;
    font-weight: bold;
    background: #ffffff;
    text-decoration: none;
}

.mat-button.mat-accent:hover,.mat-raised-button.mat-accent:hover, .mat-icon-button.mat-accent:hover, .mat-stroked-button.mat-accent:hover {
    color: #ffffff!important;
    font-weight: bold;
    background: #037160;
    text-decoration: none;
}

.mat-button.mat-warn:hover, .mat-icon-button.mat-warn:hover, .mat-stroked-button.mat-warn:hover {
    color: #cc1002!important;
    font-weight: bold;
    background: #ffffff;
    text-decoration: none;
}

.mat-primary .mat-button.active{
    color: #037160!important;
    font-weight: bold;
    background: #ffffff;
    text-decoration: none;
}

.mat-card.green {
    background: #fff!important;
    color: black!important;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2)!important;
    transition: .3s!important;
}
.mat-card.green:hover {
    background: #037160!important;
    color: #fff!important;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
    transform: scale(1.05,1.05);
}

.mat-card.green:hover .mat-card-actions a, .mat-card.green:hover .mat-card-actions button {
    background: #ffffff!important;
    color: #037160!important;
}

.mat-card.white {
    background: #fff!important;
    color: black!important;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2)!important;
  transition: .3s!important;
}
.mat-card.white:hover {
    background: #fff!important;
    color: black!important;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
  transform: scale(1.05,1.05);
}

.text-justify-center{
    text-align: justify;
    text-justify: inter-word;
    text-align: center;
  line-height: 30px;
}

.section-title {
  color: black!important;
    font-size: 2rem;
}

.section-title::after {
  content: "";
  background-color: #037160;
  width: 55px;
  height: 5px;
  position: absolute;
  right: 15px;
  bottom: 0;
  border-radius: 3px;
}
.font-10{
    font-size: 10px!important;
}
.font-12{
    font-size: 12px!important;
}

.owl-carousel div h2, .owl-carousel div .textoverlay{
  position:absolute;
  color:#FFF;
  font-size:12px;
  display:block;
}
.box-shadow{
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2)!important;
  transition: .3s!important;
}

